extends layout

block content
  h1.page-title= "Totally Tactical Tic Tac Toe"
    span.glyphicon.glyphicon-screenshot
  
  h3.prompt Prompt
  
  #alerts

  #container.row.board
    table.table.table-bordered(border="1")
      tbody
        tr
          td(data-space-id="0")&attributes({'data-status': 'unmarked'})= "_"
          td(data-space-id="1")&attributes({'data-status': 'unmarked'})= "_"
          td(data-space-id="2")&attributes({'data-status': 'unmarked'})= "_"
        tr
          td(data-space-id="3")&attributes({'data-status': 'unmarked'})= "_"
          td(data-space-id="4")&attributes({'data-status': 'unmarked'})= "_"
          td(data-space-id="5")&attributes({'data-status': 'unmarked'})= "_"
        tr
          td(data-space-id="6")&attributes({'data-status': 'unmarked'})= "_"
          td(data-space-id="7")&attributes({'data-status': 'unmarked'})= "_"
          td(data-space-id="8")&attributes({'data-status': 'unmarked'})= "_"

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="javascripts/game_prompt.js")
  script(src="javascripts/game_view.js")
  script(src="javascripts/game.js")
  script(src="javascripts/tic_tac_toe_api.js")
  script(src="javascripts/main.js")
