doctype html
html
  head
    title= "Totally Tactical Tic Tac Toe"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", crossorigin="anonymous", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7")
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    block content
